@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  outline: none;
  font-weight: 400;
}
/* ------1rem = 10px */
html {
  font-size: 62.5%;
}
